body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#question-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    margin: 0;
    color: #333;
}

.options {
    margin-top: 10px;
}

.option {
    margin: 5px 0;
}
.highlight-correct{
    color: greenyellow;
}